Trabalho de data science.
Alunos: Otávio Theodoro de Bortoli Villela Santos e Willian Nascimento Lovato

In [61]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [64]:
df1=pd.read_csv('data.csv')
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27820 entries, 0 to 27819
Data columns (total 12 columns):
country               27820 non-null object
year                  27820 non-null int64
sex                   27820 non-null object
age                   27820 non-null object
suicides_no           27820 non-null int64
population            27820 non-null int64
suicides/100k pop     27820 non-null float64
country-year          27820 non-null object
HDI for year          8364 non-null float64
 gdp_for_year ($)     27820 non-null object
gdp_per_capita ($)    27820 non-null int64
generation            27820 non-null object
dtypes: float64(2), int64(4), object(6)
memory usage: 2.5+ MB

In [65]:
df1.describe()

,year,suicides_no,population,suicides/100k pop,HDI for year,gdp_per_capita ($)
count,27820.000000,27820.000000,2.782000e+04,27820.000000,8364.000000,27820.000000
mean,2001.258375,242.574407,1.844794e+06,12.816097,0.776601,16866.464414
std,8.469055,902.047917,3.911779e+06,18.961511,0.093367,18887.576472
min,1985.000000,0.000000,2.780000e+02,0.000000,0.483000,251.000000
25%,1995.000000,3.000000,9.749850e+04,0.920000,0.713000,3447.000000
50%,2002.000000,25.000000,4.301500e+05,5.990000,0.779000,9372.000000
75%,2008.000000,131.000000,1.486143e+06,16.620000,0.855000,24874.000000
max,2016.000000,22338.000000,4.380521e+07,224.970000,0.944000,126352.000000

Verificando quantidade de valores nulos.

In [68]:
df1.shape
df1 = df1.dropna()
df1.rename(columns={" gdp_for_year ($) ": "GdpForYear", "gdp_per_capita ($)": "GdpPerCapita", "suicides/100k pop": "suicides/100k/pop"}, inplace=True)
df1.head()

(8364, 12)

In [30]:
paises = df1.country.unique()
generation = df1.generation.unique()
rent_per_year = df1.GdpForYear.unique()
ages = df1.age.unique()

In [5]:
matriz = np.array(df1)

In [6]:
max_suicides = np.max(matriz[:, 6])

1 - Momento que há mais registros de suicídio a cada 100.000 habitantes:

In [7]:
country_max = []

for i in range(len(matriz)):
    if matriz[i][6] == max_suicides:
        country_max.append(matriz[i])

    
print(f"País: {country_max[0][0]}")
print(f"Ano registrado: {country_max[0][1]}")
print("Sexo com maior taxa de suicidio: " + ("Feminino" if country_max[0][2] == 'female' else "Masculino"))
print(f"Média de suicídio a cada 100.000 habitantes: {country_max[0][6]}")

País: Suriname
Ano registrado: 2012
Sexo com maior taxa de suicidio: Masculino
Média de suicídio a cada 100.000 habitantes: 187.06

2 - Quais as taxas medias de suicídio por geração:

In [8]:
a = np.sum(matriz[:,6])

for i in range(len(generation)):
    x = matriz[(matriz[:,-1] == generation[i])]
    print(f"\nGeração {generation[i]}")
    print(f"Taxa média de suicídios a cada 100.000 habitantes: {np.mean(x[:,6]):.2f}")

Geração Generation X
Taxa média de suicídios a cada 100.000 habitantes: 11.04

Geração Silent
Taxa média de suicídios a cada 100.000 habitantes: 17.62

Geração G.I. Generation
Taxa média de suicídios a cada 100.000 habitantes: 24.56

Geração Boomers
Taxa média de suicídios a cada 100.000 habitantes: 14.40

Geração Millenials
Taxa média de suicídios a cada 100.000 habitantes: 7.18

Geração Generation Z
Taxa média de suicídios a cada 100.000 habitantes: 0.64

3 - Qual a menor taxa de suicídios por renda:

In [9]:
b = np.sum(matriz[:,10])

for i in range(len(rent_per_year)):
    x = matriz[(matriz[:,-3] == rent_per_year.max())]
print(f"\n A renda do pais {matriz[i,0]} é igual a: {rent_per_year[i]}")
print(f" E a taxa de suicidio é igual a: {np.min(x[:,6]):.2f}")

 A renda do pais Bahrain é igual a: 63,067,077,179
 E a taxa de suicidio é igual a: 0.84

4 - De acordo com as faixas etarias, quais sao os numeros de suicidio de todo o estudo:

In [35]:
qnt_suicide = [0,0,0,0,0,0]
for i in range(len(df1)):
    if matriz[i,3] == '5-14 years':
        qnt_suicide[3] = qnt_suicide[3] + matriz[i,4]
    if matriz[i,3] == '15-24 years':
        qnt_suicide[0] = qnt_suicide[0] + matriz[i,4]
    if matriz[i,3] == '25-34 years':
        qnt_suicide[1] = qnt_suicide[1] + matriz[i,4]
    if matriz[i,3] == '35-54 years':
        qnt_suicide[2] = qnt_suicide[2] + matriz[i,4]
    if matriz[i,3] == '55-74 years':
        qnt_suicide[4] = qnt_suicide[4] + matriz[i,4]
    if matriz[i,3] == '75+ years':
        qnt_suicide[5] = qnt_suicide[5] + matriz[i,4]
for i in range(len(ages)):
    print(f"A quantidade de suicidios da faixa etaria {ages[i]} é igual a: {qnt_suicide[i]}")

A quantidade de suicidios da faixa etaria 25-34 years é igual a: 206299
A quantidade de suicidios da faixa etaria 55-74 years é igual a: 271204
A quantidade de suicidios da faixa etaria 75+ years é igual a: 612076
A quantidade de suicidios da faixa etaria 15-24 years é igual a: 14286
A quantidade de suicidios da faixa etaria 35-54 years é igual a: 437782
A quantidade de suicidios da faixa etaria 5-14 years é igual a: 182377

5 - Qual o sexo que mais tem taxa de suicidios:

In [56]:
masculino = 0
feminino = 0
for i in range(len(matriz)):
    if matriz[i,2] == 'male':
        masculino = masculino + matriz[i, 4]
    if matriz[i,2] == 'female':
        feminino = feminino + matriz[i, 4]
print(f' As taxas de suicidio por sexo são: \n Homem: {masculino}\n Mulher: {feminino}')

 As taxas de suicidio por sexo são:
 Homem: 1313024
 Mulher: 411000