<a href="https://colab.research.google.com/github/bortoliotavio/DataAnalysis/blob/master/Trabalho%20DataScience.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Trabalho de data science.
Alunos: Ot√°vio Theodoro de Bortoli Villela Santos e Willian Nascimento Lovato

In [0]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [3]:
#df1=pd.read_csv('data.csv')
df1 = pd.read_csv('https://raw.githubusercontent.com/bortoliotavio/DataAnalysis/master/data.csv')
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27820 entries, 0 to 27819
Data columns (total 12 columns):
country               27820 non-null object
year                  27820 non-null int64
sex                   27820 non-null object
age                   27820 non-null object
suicides_no           27820 non-null int64
population            27820 non-null int64
suicides/100k pop     27820 non-null float64
country-year          27820 non-null object
HDI for year          8364 non-null float64
 gdp_for_year ($)     27820 non-null object
gdp_per_capita ($)    27820 non-null int64
generation            27820 non-null object
dtypes: float64(2), int64(4), object(6)
memory usage: 2.5+ MB

In [4]:
df1.describe()

               year   suicides_no  ...  HDI for year  gdp_per_capita ($)
count  27820.000000  27820.000000  ...   8364.000000        27820.000000
mean    2001.258375    242.574407  ...      0.776601        16866.464414
std        8.469055    902.047917  ...      0.093367        18887.576472
min     1985.000000      0.000000  ...      0.483000          251.000000
25%     1995.000000      3.000000  ...      0.713000         3447.000000
50%     2002.000000     25.000000  ...      0.779000         9372.000000
75%     2008.000000    131.000000  ...      0.855000        24874.000000
max     2016.000000  22338.000000  ...      0.944000       126352.000000

[8 rows x 6 columns]

Verificando quantidade de valores nulos.

In [5]:
df1.shape
df1 = df1.dropna()
df1.rename(columns={" gdp_for_year ($) ": "GdpForYear", "gdp_per_capita ($)": "GdpPerCapita", "suicides/100k pop": "suicides/100k/pop"}, inplace=True)
df1.head()

    country  year     sex  ...     GdpForYear  GdpPerCapita       generation
72  Albania  1995    male  ...  2,424,499,009           835     Generation X
73  Albania  1995    male  ...  2,424,499,009           835           Silent
74  Albania  1995  female  ...  2,424,499,009           835  G.I. Generation
75  Albania  1995  female  ...  2,424,499,009           835     Generation X
76  Albania  1995    male  ...  2,424,499,009           835     Generation X

[5 rows x 12 columns]

In [0]:
paises = df1.country.unique()
generation = df1.generation.unique()
rent_per_year = df1.GdpForYear.unique()
ages = df1.age.unique()

In [0]:
matriz = np.array(df1)
array_paises = np.array(paises)

In [0]:
max_suicides = np.max(matriz[:, 6])

1 - Momento que h√° mais registros de suic√≠dio a cada 100.000 habitantes:

In [9]:
country_max = []

for i in range(len(matriz)):
    if matriz[i][6] == max_suicides:
        country_max.append(matriz[i])

    
print(f"Pa√≠s: {country_max[0][0]}")
print(f"Ano registrado: {country_max[0][1]}")
print("Sexo com maior taxa de suicidio: " + ("Feminino" if country_max[0][2] == 'female' else "Masculino"))
print(f"M√©dia de suic√≠dio a cada 100.000 habitantes: {country_max[0][6]}")

Pa√≠s: Suriname
Ano registrado: 2012
Sexo com maior taxa de suicidio: Masculino
M√©dia de suic√≠dio a cada 100.000 habitantes: 187.06

2 - Quais as taxas medias de suic√≠dio por gera√ß√£o:

In [10]:
a = np.sum(matriz[:,6])

for i in range(len(generation)):
    x = matriz[(matriz[:,-1] == generation[i])]
    print(f"\nGera√ß√£o {generation[i]}")
    print(f"Taxa m√©dia de suic√≠dios a cada 100.000 habitantes: {np.mean(x[:,6]):.2f}")

Gera√ß√£o Generation X
Taxa m√©dia de suic√≠dios a cada 100.000 habitantes: 11.04

Gera√ß√£o Silent
Taxa m√©dia de suic√≠dios a cada 100.000 habitantes: 17.62

Gera√ß√£o G.I. Generation
Taxa m√©dia de suic√≠dios a cada 100.000 habitantes: 24.56

Gera√ß√£o Boomers
Taxa m√©dia de suic√≠dios a cada 100.000 habitantes: 14.40

Gera√ß√£o Millenials
Taxa m√©dia de suic√≠dios a cada 100.000 habitantes: 7.18

Gera√ß√£o Generation Z
Taxa m√©dia de suic√≠dios a cada 100.000 habitantes: 0.64

3 - Qual a menor taxa de suic√≠dios por renda:

In [11]:
b = np.sum(matriz[:,10])

for i in range(len(rent_per_year)):
    x = matriz[(matriz[:,-3] == rent_per_year.max())]
print(f"\n A renda do pais {matriz[i,0]} √© igual a: {rent_per_year[i]}")
print(f" E a taxa de suicidio √© igual a: {np.min(x[:,6]):.2f}")

 A renda do pais Bahrain √© igual a: 63,067,077,179
 E a taxa de suicidio √© igual a: 0.84

4 - De acordo com as faixas etarias, quais sao os numeros de suicidio de todo o estudo:

In [12]:
qnt_suicide = [0,0,0,0,0,0]
for i in range(len(df1)):
    if matriz[i,3] == '5-14 years':
        qnt_suicide[3] = qnt_suicide[3] + matriz[i,4]
    if matriz[i,3] == '15-24 years':
        qnt_suicide[0] = qnt_suicide[0] + matriz[i,4]
    if matriz[i,3] == '25-34 years':
        qnt_suicide[1] = qnt_suicide[1] + matriz[i,4]
    if matriz[i,3] == '35-54 years':
        qnt_suicide[2] = qnt_suicide[2] + matriz[i,4]
    if matriz[i,3] == '55-74 years':
        qnt_suicide[4] = qnt_suicide[4] + matriz[i,4]
    if matriz[i,3] == '75+ years':
        qnt_suicide[5] = qnt_suicide[5] + matriz[i,4]
for i in range(len(ages)):
    print(f"A quantidade de suicidios da faixa etaria {ages[i]} √© igual a: {qnt_suicide[i]}")

A quantidade de suicidios da faixa etaria 25-34 years √© igual a: 206299
A quantidade de suicidios da faixa etaria 55-74 years √© igual a: 271204
A quantidade de suicidios da faixa etaria 75+ years √© igual a: 612076
A quantidade de suicidios da faixa etaria 15-24 years √© igual a: 14286
A quantidade de suicidios da faixa etaria 35-54 years √© igual a: 437782
A quantidade de suicidios da faixa etaria 5-14 years √© igual a: 182377

5 - Qual o pais que mais tem apari√ßoes no estudo:

In [23]:
pais = str()
pais2 = str()
quantidade = int()
count = 0
contagem_paises = 0
contagem2 = 0
i = 0
while count < len(matriz):
  pais = array_paises[i]
  if pais == matriz[count, 0]:
    contagem_paises += 1
    count += 1
  else:
    if contagem_paises < contagem2:
      i += 1
      contagem2 = contagem_paises
      pais2 = pais
      pais = paises[i]
print(f'{contagem2}' + '\n' + f'{pais}')

KeyboardInterrupt: ignored