Trabalho de data science.
Alunos: Ot√°vio Theodoro de Bortoli Villela Santos e Willian Nascimento Lovato

In [3]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [7]:
df1=pd.read_csv('data.csv')

Verificando quantidade de valores nulos.

In [93]:
df1.shape
df1 = df1.dropna()
df1.head

<bound method NDFrame.head of           country  year     sex          age  suicides_no  population  \
72        Albania  1995    male  25-34 years           13      232900
73        Albania  1995    male  55-74 years            9      178000
74        Albania  1995  female    75+ years            2       40800
75        Albania  1995  female  15-24 years           13      283500
76        Albania  1995    male  15-24 years           11      241200
77        Albania  1995    male    75+ years            1       25100
78        Albania  1995    male  35-54 years           14      375900
79        Albania  1995  female  25-34 years            7      264000
80        Albania  1995  female  35-54 years            8      356400
81        Albania  1995    male   5-14 years            6      376500
82        Albania  1995  female  55-74 years            2      180400
83        Albania  1995  female   5-14 years            2      348700
132       Albania  2000    male  25-34 years           17      232000
133       Albania  2000    male  55-74 years           10      177400
134       Albania  2000  female    75+ years            2       37800
135       Albania  2000    male    75+ years            1       24900
136       Albania  2000  female  15-24 years            6      263900
137       Albania  2000    male  15-24 years            5      240000
138       Albania  2000  female  35-54 years            5      332200
139       Albania  2000  female  25-34 years            3      245800
140       Albania  2000    male  35-54 years            4      374700
141       Albania  2000    male   5-14 years            1      374900
142       Albania  2000  female   5-14 years            0      324700
143       Albania  2000  female  55-74 years            0      168000
192       Albania  2005  female  15-24 years            0      281922
193       Albania  2005  female  25-34 years            0      190745
194       Albania  2005  female  35-54 years            0      386513
195       Albania  2005  female   5-14 years            0      276559
196       Albania  2005  female  55-74 years            0      210998
197       Albania  2005  female    75+ years            0       53191
...           ...   ...     ...          ...          ...         ...
27790  Uzbekistan  2012  female  25-34 years          148     2556673
27791  Uzbekistan  2012  female  35-54 years           89     3474788
27792  Uzbekistan  2012    male   5-14 years           67     2701361
27793  Uzbekistan  2012  female  55-74 years           25     1283060
27794  Uzbekistan  2012  female    75+ years            4      338557
27795  Uzbekistan  2012  female   5-14 years           16     2578408
27796  Uzbekistan  2013    male  35-54 years          481     3346411
27797  Uzbekistan  2013    male  25-34 years          328     2644648
27798  Uzbekistan  2013  female  15-24 years          323     3039740
27799  Uzbekistan  2013    male  15-24 years          320     3171202
27800  Uzbekistan  2013    male  55-74 years          119     1202790
27801  Uzbekistan  2013    male    75+ years           13      221002
27802  Uzbekistan  2013  female  25-34 years          146     2647820
27803  Uzbekistan  2013  female  35-54 years           99     3547895
27804  Uzbekistan  2013  female    75+ years            8      345180
27805  Uzbekistan  2013    male   5-14 years           61     2720938
27806  Uzbekistan  2013  female  55-74 years           21     1356298
27807  Uzbekistan  2013  female   5-14 years           31     2595000
27808  Uzbekistan  2014    male  35-54 years          519     3421300
27809  Uzbekistan  2014    male  25-34 years          318     2739150
27810  Uzbekistan  2014  female  15-24 years          347     2992817
27811  Uzbekistan  2014    male  55-74 years          144     1271111
27812  Uzbekistan  2014    male  15-24 years          347     3126905
27813  Uzbekistan  2014    male    75+ years           17      224995
27814  Uzbekistan  2014  female  25-34 years          162     2735238
27815  Uzbekistan  2014  female  35-54 years          107     3620833
27816  Uzbekistan  2014  female    75+ years            9      348465
27817  Uzbekistan  2014    male   5-14 years           60     2762158
27818  Uzbekistan  2014  female   5-14 years           44     2631600
27819  Uzbekistan  2014  female  55-74 years           21     1438935

       suicides/100k pop    country-year  HDI for year  gdp_for_year ($)   \
72                  5.58     Albania1995         0.619      2,424,499,009
73                  5.06     Albania1995         0.619      2,424,499,009
74                  4.90     Albania1995         0.619      2,424,499,009
75                  4.59     Albania1995         0.619      2,424,499,009
76                  4.56     Albania1995         0.619      2,424,499,009
77                  3.98     Albania1995         0.619      2,424,499,009
78                  3.72     Albania1995         0.619      2,424,499,009
79                  2.65     Albania1995         0.619      2,424,499,009
80                  2.24     Albania1995         0.619      2,424,499,009
81                  1.59     Albania1995         0.619      2,424,499,009
82                  1.11     Albania1995         0.619      2,424,499,009
83                  0.57     Albania1995         0.619      2,424,499,009
132                 7.33     Albania2000         0.656      3,632,043,908
133                 5.64     Albania2000         0.656      3,632,043,908
134                 5.29     Albania2000         0.656      3,632,043,908
135                 4.02     Albania2000         0.656      3,632,043,908
136                 2.27     Albania2000         0.656      3,632,043,908
137                 2.08     Albania2000         0.656      3,632,043,908
138                 1.51     Albania2000         0.656      3,632,043,908
139                 1.22     Albania2000         0.656      3,632,043,908
140                 1.07     Albania2000         0.656      3,632,043,908
141                 0.27     Albania2000         0.656      3,632,043,908
142                 0.00     Albania2000         0.656      3,632,043,908
143                 0.00     Albania2000         0.656      3,632,043,908
192                 0.00     Albania2005         0.695      8,158,548,717
193                 0.00     Albania2005         0.695      8,158,548,717
194                 0.00     Albania2005         0.695      8,158,548,717
195                 0.00     Albania2005         0.695      8,158,548,717
196                 0.00     Albania2005         0.695      8,158,548,717
197                 0.00     Albania2005         0.695      8,158,548,717
...                  ...             ...           ...                ...
27790               5.79  Uzbekistan2012         0.668     51,821,573,338
27791               2.56  Uzbekistan2012         0.668     51,821,573,338
27792               2.48  Uzbekistan2012         0.668     51,821,573,338
27793               1.95  Uzbekistan2012         0.668     51,821,573,338
27794               1.18  Uzbekistan2012         0.668     51,821,573,338
27795               0.62  Uzbekistan2012         0.668     51,821,573,338
27796              14.37  Uzbekistan2013         0.672     57,690,453,461
27797              12.40  Uzbekistan2013         0.672     57,690,453,461
27798              10.63  Uzbekistan2013         0.672     57,690,453,461
27799              10.09  Uzbekistan2013         0.672     57,690,453,461
27800               9.89  Uzbekistan2013         0.672     57,690,453,461
27801               5.88  Uzbekistan2013         0.672     57,690,453,461
27802               5.51  Uzbekistan2013         0.672     57,690,453,461
27803               2.79  Uzbekistan2013         0.672     57,690,453,461
27804               2.32  Uzbekistan2013         0.672     57,690,453,461
27805               2.24  Uzbekistan2013         0.672     57,690,453,461
27806               1.55  Uzbekistan2013         0.672     57,690,453,461
27807               1.19  Uzbekistan2013         0.672     57,690,453,461
27808              15.17  Uzbekistan2014         0.675     63,067,077,179
27809              11.61  Uzbekistan2014         0.675     63,067,077,179
27810              11.59  Uzbekistan2014         0.675     63,067,077,179
27811              11.33  Uzbekistan2014         0.675     63,067,077,179
27812              11.10  Uzbekistan2014         0.675     63,067,077,179
27813               7.56  Uzbekistan2014         0.675     63,067,077,179
27814               5.92  Uzbekistan2014         0.675     63,067,077,179
27815               2.96  Uzbekistan2014         0.675     63,067,077,179
27816               2.58  Uzbekistan2014         0.675     63,067,077,179
27817               2.17  Uzbekistan2014         0.675     63,067,077,179
27818               1.67  Uzbekistan2014         0.675     63,067,077,179
27819               1.46  Uzbekistan2014         0.675     63,067,077,179

       gdp_per_capita ($)       generation
72                    835     Generation X
73                    835           Silent
74                    835  G.I. Generation
75                    835     Generation X
76                    835     Generation X
77                    835  G.I. Generation
78                    835          Boomers
79                    835     Generation X
80                    835          Boomers
81                    835       Millenials
82                    835           Silent
83                    835       Millenials
132                  1299     Generation X
133                  1299           Silent
134                  1299  G.I. Generation
135                  1299  G.I. Generation
136                  1299     Generation X
137                  1299     Generation X
138                  1299          Boomers
139                  1299     Generation X
140                  1299          Boomers
141                  1299       Millenials
142                  1299       Millenials
143                  1299           Silent
192                  2931       Millenials
193                  2931     Generation X
194                  2931          Boomers
195                  2931       Millenials
196                  2931           Silent
197                  2931           Silent
...                   ...              ...
27790                1964       Millenials
27791                1964     Generation X
27792                1964     Generation Z
27793                1964          Boomers
27794                1964           Silent
27795                1964     Generation Z
27796                2150     Generation X
27797                2150       Millenials
27798                2150       Millenials
27799                2150       Millenials
27800                2150          Boomers
27801                2150           Silent
27802                2150       Millenials
27803                2150     Generation X
27804                2150           Silent
27805                2150     Generation Z
27806                2150          Boomers
27807                2150     Generation Z
27808                2309     Generation X
27809                2309       Millenials
27810                2309       Millenials
27811                2309          Boomers
27812                2309       Millenials
27813                2309           Silent
27814                2309       Millenials
27815                2309     Generation X
27816                2309           Silent
27817                2309     Generation Z
27818                2309     Generation Z
27819                2309          Boomers

[8364 rows x 12 columns]>

In [57]:
paises = df1.country.unique()
generation = df1.generation.unique()

In [27]:
matriz = np.array(df1)

In [58]:
max_suicides = np.max(matriz[:, 6])

1 - Momento que h√° mais registros de suic√≠dio a cada 100.000 habitantes:

In [56]:
country_max = []

for i in range(len(matriz)):
    if matriz[i][6] == max_suicides:
        country_max.append(matriz[i])

    
print(f"Pa√≠s: {country_max[0][0]}")
print(f"Ano registrado: {country_max[0][1]}")
print("Sexo com maior taxa de suicidio: " + ("Feminino" if country_max[0][2] == 'female' else "Masculino"))
print(f"M√©dia de suic√≠dio a cada 100.000 habitantes: {country_max[0][6]}")

Pa√≠s: Suriname
Ano registrado: 2012
Sexo com maior taxa de suicidio: Masculino
M√©dia de suic√≠dio a cada 100.000 habitantes: 187.06

2 - Quais as taxas medias de suic√≠dio por gera√ß√£o:

In [88]:
a = np.sum(matriz[:,6])

for i in range(len(generation)):
    x = matriz[(matriz[:,-1] == generation[i])]
    print(f"\nGera√ß√£o {generation[i]}")
    print(f"Taxa m√©dia de suic√≠dios a cada 100.000 habitantes: {np.mean(x[:,6]):.2f}")

Gera√ß√£o Generation X
Taxa m√©dia de suic√≠dios a cada 100.000 habitantes: 11.04

Gera√ß√£o Silent
Taxa m√©dia de suic√≠dios a cada 100.000 habitantes: 17.62

Gera√ß√£o G.I. Generation
Taxa m√©dia de suic√≠dios a cada 100.000 habitantes: 24.56

Gera√ß√£o Boomers
Taxa m√©dia de suic√≠dios a cada 100.000 habitantes: 14.40

Gera√ß√£o Millenials
Taxa m√©dia de suic√≠dios a cada 100.000 habitantes: 7.18

Gera√ß√£o Generation Z
Taxa m√©dia de suic√≠dios a cada 100.000 habitantes: 0.64

3 - Qual a menor taxa de suic√≠dios por renda: